{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block nav %}
<nav class="navbar shadow navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand text-white" href="Admin_dashboard.html">BookMesh</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="Home.html">Home</a>
            </li>
            </ul>
            
        </div>
        <li class="nav-item d-flex">
            
            <form action="#" class="searchbox">
                </i><input type="search" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
            </form>
        </li>

        
        <li class="nav-item dropdown d-flex">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="proimg" src="media/avatar.png" alt=""> Arman
                </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="profile.html">My Profile</a></li>
                <li><a class="dropdown-item" href="Profile_settings.html">Profile Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="Login.html">Log Out</a></li>
            </ul>
        </li>
    </div>
</nav>
{% endblock nav %}

{% block content %}
{{hellow}}
<section class="homesec">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="profile_settings col-md-9">
                <img src="media/back.jpg" alt="" class="cmmunityimg">
                <div class="community-content">
                    <div class="row pb-5">
                        
                        <div class="col-md-8">
                            <h2 class="community-name">Community-1</h2> 
                        </div>
                        <div class="col-md-4">
                            <a href="#"><button type="button" class="editprobtn btn btn-block text-white">Follow Community</button></a>
                        </div>
                    </div>

                    <div class="detailrow">
                        <h5 class="detailcom">Total Members: 1K</h5>
                        <h5 class="detailcom">Total Posts: 231</h5>
                    </div>
                    <div class="pt-5">
                        <input type="text" class="communityupfield" placeholder="  Share Your thoughts!">
                    </div>
                    <div class="chcard-div">
                        <div class="chcard">
                                <h5 class="card-title"> <img class="cardproimg" src="media/avatar.png" alt=""> <a class="cardproname" href="#">Arman Sarker</a></h5>
                                <img class="card-img-top card-img" src="media/self.jfif" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">
                                    <i>like</i>
                                    <i>dislike</i>
                                    <i>Comment</i> 
                                </h5>
                                <p class="card-text">221 upvotes</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                        </div>
                        <div class="comment-section">
                            <input type="text" class="chcomment" placeholder="   comments..">
                        </div>

                        <div class="chcard">
                                <h5 class="card-title"> <img class="cardproimg" src="media/avatar.png" alt=""> <a class="cardproname" href="#">Arman Sarker</a></h5>
                                <img class="card-img-top card-img" src="media/self.jfif" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">
                                    <i>like</i>
                                    <i>dislike</i>
                                    <i>Comment</i> 
                                </h5>
                                <p class="card-text">221 upvotes</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                        </div>
                        <div class="comment-section">
                            <input type="text" class="chcomment" placeholder="   comments..">
                        </div>

                        <div class="chcard">
                                <h5 class="card-title"> <img class="cardproimg" src="media/avatar.png" alt=""> <a class="cardproname" href="#">Arman Sarker</a></h5>
                                <img class="card-img-top card-img" src="media/self.jfif" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">
                                    <i>like</i>
                                    <i>dislike</i>
                                    <i>Comment</i> 
                                </h5>
                                <p class="card-text">221 upvotes</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                        </div>
                        <div class="comment-section">
                            <input type="text" class="chcomment" placeholder="   comments..">
                        </div>
                    </div>

                </div>
            </div>
            
           
        </div>
    </div>
    </section>
{% endblock content %}

{% block scripts %}
<script>
    
</script>
{% endblock scripts %}